body{
    background-image: url('../imagens/pexels-agung-pandit-wiguna-1128318\ \(1\).jpg');
    background-size: 100%;
    margin: 0;
    padding: 0;

}
@keyframes anima-formulario{
    0%{
        transform: translate(0%,-300%);
    }
    
}
.box-formulario{
    height: 350px;
    color: blue !important;
    animation-name: anima-formulario;
    animation-duration: 3s;
    transform: translate(0%,30%);
}
.box-formulario ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

}
.box-formulario ul li {
    margin-bottom: 15px;
}
.img-logo {
    width: 15%;
    margin-left: 43%;
    margin-top: 10px;
}
.box-formulario ul li input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px cyan;
    background-color: #0C127A;
    width: 80%;
    font-size: 15px;
    color: white;
    outline: 0;
}
.titulo {
margin-top: 5%;
color: white;
background-color: #0C127A;
border-radius: 40px;
width: 50%;
margin-left: 43%;
opacity:0.85;
}
.btn-cadastrar {
    border: 4px solid cyan;
    width: 25%;
    height: 40px;
    border-radius: 40px;
    color: #0C127A;
    cursor: pointer;
    margin-top: 15px;

}
.btn-cadastrar:hover{
    background-color: #0C127A;
    color: cyan;
}