
.logo2 { width: 20%;

}

.menu { background-color: grey;

}

h1 { color:#000000;

}

body { font-family: Arial, Helvetica, sans-serif;


}

button { background-color: red;
color: white;
}


span { font-family: Verdana, Geneva, Tahoma, sans-serif;

}